# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\masterproject\210621\weibo-data-analysis-0621\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
